@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");



body {
  font-family: Arial, sans-serif;
  background-color: #f8f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  
}


.container {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  
}

.dark-mode .container {
  background-color: #333;
  color: #fff;
}

.header {
  height: 250px;
  text-align: center;
  background: linear-gradient(to bottom, #dcdcdc, #f8f8fc);
  border-radius: 10px 10px 0 0;
  padding: 30px;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/471/462/444/good-nature-backgrounds-1920x1200-wallpaper-preview.jpg");

}

.dark-mode .header {
  
  background: linear-gradient(to bottom, #444, #666);
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: lightcyan;
  font-weight: bold;
}

.header p {
  margin: 5px;
  color: color-mix(in srgb, gray 50%,white 50%);
}

.dark-mode .header p {
  color: #bbb;
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.itinerary-btn,
.distance-btn {
  background-color: #e0e0ff;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.add-button {
  display: flex;
  justify-content: center;
  margin: 20px ;
}

.add-button button {
  background-color: #ffcccc;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
}

.container>h2 {
  font-weight: bold;
}
.list {
  margin-top: 20px;
}
.list-item h2 {
  font-weight: bold;
}


.list-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.list-item-image-container {
  margin: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  margin-right: 15px;
}
.list-item-image {
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  border-radius: 5px;
  
}

.dark-mode .list-item-image {
  background-color: #555;
}

.list-item-content {
  flex: 1;
}

.list-item-content h2 {
  margin: 0;
  font-size: 18px;
}

.list-item-content p {
  margin: 5px 0;
  color: gray;
  font-size: 14px;
}

.dark-mode .list-item-content p {
  color: #bbb;
}

.list-item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating {
  font-size: 16px;
  color: #888;
}

.favorite {
  font-size: 18px;
  cursor: pointer;
  color: #888;
}
